.login_box {
    position: absolute;
    width: 500px;
    height: 600px;
    left: 710px;
    top: 240px;
    align-content: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.pass{
    margin-top: 30px;
}

.text_log h1 {
    /* position: absolute; */
    margin-block-end: 0%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: #141414;

}

.apa {
    margin-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.login_box img {
    width: 200px;
    height: 126px;
    margin-top: 50px;
    margin-left: 100px;
}

.text_log input {
    width: 377.99px;
    height: 55px;   
    border: none;
    border-bottom: 3px solid #141414;
    background-color: rgba(255, 255, 255, 0);
}

.margin_input {
    width: 80%;
    height: 100%;
    padding-left: 50px;
}

.button_login input{
    margin-left: 100px;
    width: 200px;
    height: 70px;
    margin-top: 35px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.side_bg{
    width: 300px;
    height: 100%;
    margin-top:-10px;
    margin-left: -10px;
    background-size: cover;
    background-image: url("../images/gradientberdiri.png");
    
}

.side_bg img{
    width: 200px;
    height: 200px;
    margin-left: 48px;
}

.active {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    }

.sub_menu {
    margin-left: 20px;
    width: 250px;
    height: 70px;
    
}

.sub_menu a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    display: inline;
    color: #141414;
    margin-left: 10px;
}

.sub_menu img {
    padding-top: 20px;
    width: 25px;
    height: 25px;
}

.header{
    background-image: url("../images/gradienttidur.png");
    width: 74px;
    height: 1624px;
    transform: rotate(90deg);
    left: 300px;
    top: 0px;
    float: right;
}